<div class="ui top fixed menu" ng-controller="HeaderCtrl">
    <div class="item">
        COVACSIS
    </div>
    <!-- <div class="ui segment"> -->
    <div class="ui secondary pointing menu">
        <a class="active item">Home</a>
        <a class="item">Messages</a>
        <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <a class="item">Browse</a>
    <a class="item">Submit</a>
    <div class="right menu">
        <a class="item">Sign Up</a>
        <a class="item">Help</a>
    </div>
</div>
